/*  Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */

:root{
   --color-fondo: #F3F5FC;
   --color-secundario:#0A3871;
   --color-cajatext: #f4f4fc;
   --color-text:#495057;
   --color-right: #FFFFFF;
   --color-hover-dcptr: #D8DFE8;
   --color-righth1-footer: #343A40;
   --color-textbtn: #E9ECF8;
}

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-fondo);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100rw;
}

header{
  display: flex;
  position: absolute;
  margin: 2.5rem 0rem 0rem 2.5rem;
}

header p{
  display: flex;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--color-righth1-footer);
  font-size: 2rem;
  font-weight:600;
}

.header_logo{
  display: flex;
  align-items: flex-start;
  width: 7.5rem;
  height: 3rem;
}

.contenedorfull{
  display: flex;
  flex-direction: row;
}

.contenedor1{
  width: 60%;
  margin: 10.5rem 0rem 0rem 8.75rem;
}

.contenedor1_cajatexto{
  width: 41.25rem;
  height: 18rem;
  background-color: var(--color-cajatext);
  font-size: 2rem;
  color: var(--color-secundario); 
  border-radius: 1.5rem;
  padding: 3%;
  text-transform: lowercase;
  border: 0.125rem solid var(--color-secundario);
  resize:none;
  scrollbar-width:none;
}

.contenedor1_cajatexto:hover{
  background-color: var(--color-hover-dcptr);
}

::placeholder{
  color: var(--color-secundario);
}

.contenedor1_cajatexto:focus{
  outline: none;
}

.contenedor1_alerta{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  position: absolute;
  top: 31.25rem;
}

.contenedor1_alerta_p{
  width: 100%;
  font-size: 1.125rem;
  color: var(--color-text);
}

.contenedor1_botones{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  top: 32.875rem;
}

.contenedor_botones_encriptar{
  width: 20.5rem;
  height: 4.1875rem;
  padding: 1.5rem;
  background-color: var(--color-secundario);
  color: var(--color-textbtn);
  font-size: 1rem;
  border-radius: 1.5rem;
  border: none;
  text-align: center;
  cursor: pointer;
}

.contenedor_botones_encriptar:active{
  box-shadow: inset 2px 2px 4px var(--color-fondo);
  inset: -3px -4px -8px var(--color-secundario);
  color: var(--color-hover-dcptr);
}

.contenedor_botones_desencriptar{
  width: 20.5rem;
  height: 4.1875rem;
  padding: 1.5rem;
  background-color: var(--color-hover-dcptr);
  color:var(--color-secundario);
  font-size: 1rem;
  border-radius: 1.5rem;
  border: 0.063rem solid var(--color-secundario);
  cursor: pointer;
}

.contenedor_botones_desencriptar:active{
  box-shadow: inset 2px 2px 4px var(--color-secundario);
  inset: -3px -4px -8px var(--color-fondo);
  color: var(--color-text);
}

/* Seccion 2 */

.contenedor2{
  width: 20rem;
  height: 36.25rem;
  background-color:var(--color-right);
  border-radius: 2rem;
  position: relative;
  margin-top: 2.5rem;
  text-align: center;
  box-shadow: 0.313rem 0.313rem 0.313rem 0.125rem rgba(12, 12, 12, 0.2);;
}

.contenedor2_derecha{
  width: 15.625rem;
  margin: auto;
  margin-top: 50%;
  background-color:var(--color-right);
}

.contenedor2_derecha_imagen{
  width: 100%;
  background-color:var(--color-right);
}

.contenedor2_derecha h1{
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-righth1-footer);
  background-color:var(--color-right);
  padding: 10%;
}

.contenedor2_derecha p{
  font-size: 1rem;
  color: var(--color-text);
  background-color:var(--color-right);
  text-align: center;
}

.contenedor2_derecha_evaluar{
  width: 100%;
  height: 30.3125rem;
  position: absolute;
  padding: 2.5rem;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: var(--color-text);
  border: none;
  resize: none;
  background: transparent;
  border-radius: 1.5rem;
  scrollbar-width:none;
}

.contenedor2_derecha_evaluar:focus{
  outline: none;
}

.contenedor2_derecha_copiar{
  width: 14rem;
  height: 4.1875rem;
  margin: 1.4375rem;
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  visibility: hidden;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 1.5rem;
  border: 0.063rem solid var(--color-secundario);
  background: var(--color-right);
  color: var(--color-secundario);
  cursor: pointer;
}

footer{
  margin-top: 1rem;
  padding: 0.625rem;
  border-top: 0.125rem solid var(--color-fondo);
  color: var(--color-righth1-footer);
  text-align: center;
  height: 0.313rem;
  font-size: 1rem;
  font-weight: 700;
}

.linkedin, .github{
  width: 3%;
}

.linkedin:hover{
  color: var(--color-fondo);
  opacity: 0.80;
  
}

.github:hover{
  color: var(--color-fondo);
  opacity: 0.60;
}

/* Responsive */

@media(max-width: 78.125rem) {
  .contenedorfull{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contenedor1{
    margin: 10.5rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contenedor1_botones{
    display: flex;
    align-items: center;
    position: inherit; 
  }

  .contenedor1_alerta{
    position: inherit;
    margin: 1rem;
  }

/* seccion 2 */

  .contenedor2{
    width: 41.563rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .contenedor2_derecha{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20%;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .contenedor2_derecha_imagen{
    display: none;
  }

  .contenedor2_derecha_evaluar{
    width: 100%;
    height: 13.125rem;
    padding: 0.625rem;
  }

  .contenedor2_derecha_copiar{
    position: inherit;
    width: 60%;
    left: inherit;
  }

}

@media(max-width: 45rem) {
  header .header_logo{
    width: 100%;
    background:var(--color-right);
    padding: 0.125rem;
  }

  .contenedor1_cajatexto{
    width: 90%;
    font-size: 1.5rem;
  }

  .contenedor1_botones{
    display: grid;
    gap: 1.313rem;
  }

  .contenedor2{
    width: 90%;
  }

  .copyright {
    font-size: 0.75rem;
  }
}